@use "sass:math";
@import 'vars';
@import 'fonts';
@import 'reset';
@import 'mexins';
@import 'global';
@import 'libs';

// .header-fixed {
//     background-color: $silver;
// }



.menu {
  background-color: #424242;
  padding: 20px;

  &__btn {
    display: none;
  }

  &__items {
    display: flex;
    justify-content: space-between;
    text-align: center;
  }

  &__items {
    display: flex;
    justify-content: space-between;
    text-align: center;
  }

  &__link {
    color: #DAA520;
    font-weight: bold;
    font-size: 24px;
    font-style: normal;
    text-decoration: none;
    transition: color .5s;
    padding: 22px;

    &:focus {
      color: $focus;
    }

    &:hover {
      color: #424242;
      background-color: #DAA520;
    }

    &:active {
      color: $active;
    }
  }
}

.img {
  width: 900px;
  height: 500px;
  object-fit: cover;
}

.link {
  display: block;
  width: 100%;
  background-color: #DAA520;
  color: #000000;
  font-family: Arial;
  font-weight: bold;
  font-size: 24px;
  font-style: normal;
  text-decoration: none;
  padding: 15px 30px 15px 30px;
  text-align: center;
  transition: color .5s;

  &:focus {
    color: $focus;
  }

  &:hover {
    color: #DAA520;
    background-color: #424242;
  }

  &:active {
    color: $active;
  }

  &:not(:last-child) {
    margin-bottom: 50px;
  }
}

.title {
  font-weight: bold;
  font-size: 32px;
  color: #000000;
  margin-bottom: 50px;
  text-align: center;
}

.subtext,
.text {
  font-weight: bold;
  font-size: 24px;
  color: #000000;
  margin-bottom: 70px;
}

// .text p {
//   margin-bottom: 40px;
// }

.text span {
  margin-bottom: 50px;
  display: block;
}

.subtext {
  text-align: center;
  margin-bottom: 70px;
  display: block;
}

.ol {
  margin-bottom: 70px;
}

.li,
.copy {
  font-weight: bold;
  font-size: 21px;
  font-style: italic;
  color: #000000;
}

.copy {
  text-align: center;
}

.copy a {
  color: blue;
  text-decoration: underline;
}

/*медия всегда должны быть в низу */


/*

&__link {
    color: $title;
    font-family: $;
    font-size: 15px;
    line-height: 1;
    font-weight: 700;
    outline-color: #000000;
    outline-offset: 5px;
    transition: color 0.5s;
    &:focus {
        color: $green;
    }

    &:hover {
        color: $ac;
    }

    &--active {
        color: $ac;
    }
}

*/

/*.video {
    height: 425px;
    max-width: 1185px;
    display: flex;
    justify-content: center;
    background-position: center;
    position: relative;
    opacity: 1;
    transition: opacity 0.7s,
        border 0.5s;
    max-width: 100%;
    background-repeat: no-repeat;
    background-size: cover;


    &:focus {
        outline: solid $ac;
    }

    &:hover {
        opacity: 0.4;
        border: 2px solid $black;
    }

    &:active {
        color: $active;
    }

    &::after {
        content: "";
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        background-image: url('../images/play.png');
        background-position: center;
        background-repeat: no-repeat;
        height: 100px;
        width: 100px;
    }
}*/